html,
body {
    padding: 0;
    margin: 0;
    font-family: Roboto, serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

:root {
    --background-light: #3D3E5A;
    --background-dark: #1A1A1A;
    --white: #ffffff;
    --black: #000000;
    --purple: #8679D7;
    --purple-dark: #7d6bd0;
}